<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Bruno Ace SC' rel='stylesheet'>
    <link href="/flask_app/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url('/static/img/pexels-adrien-olichon-2387793 (1).jpg')">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-success border-3">
        <div class="container-fluid">

            <a class="navbar-brand" href="#" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green; font-size:100%;" >WELCOME: //{{user.user_name}}//</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex align-items-center" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <button class=" btn m-4">
                            <a class="nav-link" href="/user/home" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">Home</a>
                        </button>
                    </li>

                    <li class="nav-item">
                        <button class=" btn m-4">
                            <a class="nav-link" href='/user/info' style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">User Info</a>
                        </button>
                    </li>

                    {% if wallet.wallet.wallet_user_id == user.id %}
                    <li class="nav-item">
                        <button class=" btn m-4">
                            <a class="nav-link" href='/view/wallet/{{wallet.wallet.id}}' style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">+ Wallet</a>
                        </button>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <button class=" btn m-4">
                            <a class="nav-link" href='/create/wallet' style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">+ Create Wallet</a>
                        </button>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <button class=" btn m-4">
                            <a class="nav-link" href="/exchange/{{wallet.wallet.id}}" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">Exchange</a>
                        </button>
                    </li>

                    <li class="nav-item">
                    </li>
                    
                </ul>
            </div>
        </div>
        
        <div class="position-absolute top-50 start-50 translate-middle text-center justify-content-center ms-2">
            <h1 style="font-family:Bruno Ace SC; font-size:350%; text-shadow: 2px 2px 8px green">DGCoin<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
            </svg></h1>
            <p style="font-family:Bruno Ace SC; font-size:75%;">Digital Gaming Coin</p>
        </div>
        
        <button class=" btn m-4">
            <a class="nav-link" href="/logout" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">Logout</a>
        </button>
    </nav>
    <div class="position-absolute top-50 start-50 translate-middle">

        <div class="card-header text-center text-light justify-content-center border-bottom mb-4 d-flex align-items-center" style="box-shadow: 0px 0px 10px 2px aliceblue;" role="status">
            <h1 style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green; font-size:200%;">//LOADING:PORTAL//STATUS:LIVE</h1>
            <div class="spinner-grow spinner-grow-sm mb-2 ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h1 style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green; font-size:200%;">//</h1>
        </div> 
        <div class="card mt-4 mb-4 text-light bg-dark border border-success border-2" style="box-shadow: 0px 0px 10px 2px aliceblue;">
            <div class="card-header text-center" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">
                Welcome To The Portal
            </div>
            <div class="card-body text-center" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">
                <h5 class="card-title">Get More Out Of Your Experience</h5>
                <p class="card-text">Allow for integration between all of your favorite games no matter the console. Earn XP in the background and help fuel the DGC ecosystm
                    (not actually affiliated, hypothetical)
                </p>

            </div>
          </div>

        <div class="container-md col-12 bg-dark border border-success border-2 d-flex" style="box-shadow: 0px 0px 10px 2px aliceblue;">
            <div class="card m-4" style="width: 18rem;">
                <img src="/static/img/xbox.jpg" class="card-img-top" alt="...">
                <div class="card-body justify-content-center d-flex flex-column text-light bg-dark" style="font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">
                    <h5 class="card-title text-center">XBOX</h5>
                    <p class="card-text">Connect your Xbox account to allow for XP earning from all your favorite games</p>
                    <a href="https://www.xbox.com/en-US/" class="btn btn-outline-success text-light">CONNECT</a>
                </div>
            </div>
            <div class="card m-4" style="width: 18rem; font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green; font-size:90%;">
                <img src="/static/img/playstation.jpg" class="card-img-top" alt="...">
                <div class="card-body justify-content-center d-flex flex-column text-light bg-dark">
                    <h5 class="card-title text-center">PLAYSTATION</h5>
                    <p class="card-text">Connect your Playstation account to allow for XP earning from all your favorite games</p>
                    <a href="https://www.playstation.com/en-us/" class="btn btn-outline-success text-light">CONNECT</a>
                </div>
            </div>
            <div class="card m-4" style="width: 18rem; font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">
                <img src="/static/img/nintendo.jpg" class="card-img-top" alt="...">
                <div class="card-body justify-content-center d-flex flex-column text-light bg-dark">
                    <h5 class="card-title text-center">NINTENDO</h5>
                    <p class="card-text">Connect your Nintendo account to allow for XP earning from all your favorite games</p>
                    <a href="https://www.nintendo.com/" class="btn btn-outline-success text-light">CONNECT</a>
                </div>
            </div>
            <div class="card m-4" style="width: 18rem; font-family:Bruno Ace SC; text-shadow: 2px 2px 8px green">
                <img src="/static/img/steam-logo.jpg" class="card-img-top" alt="...">
                <div class="card-body justify-content-center d-flex flex-column text-light bg-dark">
                    <h5 class="card-title text-center">STEAM</h5>
                    <p class="card-text">Connect your Steam account to allow for XP earning from all your favorite games</p>
                    <a href="https://store.steampowered.com/" class="btn btn-outline-success text-light">CONNECT</a>
                </div>
            </div>
    </div>
</body>